[2015-10-31 09:18] mojavelinux opened #1 "Fix warning of uninitialized instance variable"
Fix the following warning caused by an uninitialized instance variable:

[code]

This shows up when running the main Asciidoctor test suite.

[2015-11-01 09:45] pepijnve commented on #1
Resolve by ecb9954d1fb31df58988692c4196de5635ef54d0

[2015-12-13 07:47] mojavelinux commented on #1
I see this is resolved, but it doesn't seem to be included in the 1.0.1 release on RubyGems.org. Perhaps cut a 1.0.2 release, then close.

[2015-12-13 10:32] pepijnve commented on #1
I'm looking at the commit log and shell history and can't figure out how this went wrong... Weird.
Anyway a 1.0.2 release will be the easiest fix. I'll double check everything and do that right away.

[2015-12-13 10:37] pepijnve commented on #1
[1.0.2 has been published](https://rubygems.org/gems/asciimath/versions/1.0.2)

[2015-12-13 10:37] #1 closed

[2015-12-13 19:57] mojavelinux commented on #1
Thanks!!

[2016-05-12 14:49] Thoragan opened #2 "How to use Russian Cyrillic letters in asciimath?"
I want to use Russian Cyrillic letters in [asciimath] blocks in Asciidoctor, but I noticed hat this causes asciimath to choke with error.

Here is simple example:
[code]

[2016-05-12 15:07] pepijnve commented on #2
The parser is not handling multi-byte characters correctly hence the problem. While reproducing this I've been able to fix the problem as well. I'll push that in a minute.

Note that

[code]
results in
[code]
which may not be what you expect. Since you're writing `speed = distance / time` (thank you Google translate) you probably want
[code]
which will get you
[code]
as output.

[2016-05-12 15:27] pepijnve commented on #2
I've built and published asciimath 1.0.3 which contains this fix. Note that you'll need to use Ruby 1.9 for this to work properly. Ruby 1.8 did not have proper encoding support yet.

[2016-05-12 15:28] #2 closed

[2016-05-12 15:43] Thoragan commented on #2
Thank you very much!

[2017-11-01 09:36] pepijnve opened #4 "Transfer project to asciidoctor organization"
This gem was written for the asciidoctor project. It would be preferable to transfer ownership of the repository to that organisation.

@mojavelinux are you ok with that?

[2017-11-05 22:10] mojavelinux commented on #4
Indeed! Can you try to transfer? If you have difficulty, just let me know.

[2017-11-06 08:01] pepijnve commented on #4
All done. Take good care of my baby 😉

[2017-11-06 08:01] #4 closed

[2017-11-06 11:23] mojavelinux commented on #4
Whoohoo! It's in a safe space ;)

[2018-09-25 03:52] giuliano52 opened #6 "function names should use <mi> tag"
Hello,
if an expression contain an function (e.g. sin, cos, ...) it should be return `<mi>` tag instead of `<mo>`

Example:

sin(x)
with is encoded as

`<math><mo>sin</mo><mrow><mo>(</mo><mi>x</mi><mo>)</mo></mrow></math>`

but is should something like:

`<math xmlns="http://www.w3.org/1998/Math/MathML">
  <mstyle displaystyle="true">
    <mrow>
      <mi>sin</mi>
      <mrow>
        <mo>(</mo>

[2018-09-25 07:09] pepijnve commented on #6
I had a quick look at the code already. Looks like the parser is not recognising `sin` as an identifier correctly. I'll try to get this fixed asap.

[2018-09-25 07:31] giuliano52 commented on #6
Great, thank you

[2018-10-06 03:20] opoudjis opened #7 "Buggy tokenisation of text(), font()"
The contents of text() and font() are being parsed with the same tokenisation of as the rest of AsciiMath.

As a result, `text("K")` is being rendered as `<mtext><mtext>K</mtext></mtext>`: `text` renders as `<mtext>...</mtext>`, and `"K"` as `<mtext>K</mtext>`.

Similarly, other text within text() and font() is being tokenised, which introduces whitespaces: `text(“K”)` (with smart quotes) is being

[2018-10-06 11:00] pepijnve commented on #7
Thanks for testing and reporting this so extensively! Simple oversight in the parser indeed. I’ll try to get this fixed ASAP.

[2018-10-08 23:30] opoudjis commented on #7
For *our* purposes, font() is not needed: we are using this to render AsciiMath in Word, via the chain AsciiMath > MathML > OOXML. We just need text() working. Of course, the content of font() is processed in the same way as text(), so even if it doesn't render correctly in presentation, at least it won't have mangled AsciiMath in it.

I would PR, but I am deluged; what I sketched above is as far

[2018-10-08 23:37] opoudjis commented on #7
I will test our side (when I get a minute, may be a couple of weeks—sorry), and let you know how it does in our tool chain.

[2018-10-09 04:55] pepijnve commented on #7
Do you have any spec reference for `font()`? I would be happy to ADD it but need to know how it’s supposed to work.

[2018-10-09 07:59] opoudjis commented on #7
All I know unfortunately is what http://asciimath.org says, which is that the unary operators for fonts are:

[code]

The grammar at the bottom of the page says as much:

[code]

[2018-10-09 08:01] opoudjis commented on #7
.... Which by the way indicates that `font()` is not an AsciiMath operator. (And given that `font()` doesn't say which font, it can't be one.) It's presumably a short-hand notation for "bb or bbb or cc or tt or fr or sf" in a grammar somewhere.

[2018-10-09 08:35] pepijnve commented on #7
That's the impression I get as well. That's why it's not even present in the parser and gets treated like a generic function name. It's easy enough to add special logic for this once I know what that's supposed to be.

Do you know of any other asciimath parser implementations that treat this differently? Asciimath.org turns `font(foo)` into

[code]

so it looks like the canonical implementation do

[2018-10-09 10:08] opoudjis commented on #7
https://runarberg.github.io/ascii2mathml/ adds rm, bf, it, with bb for doublestruck instead of boldface. Everyone else that I've Googled has the same commands as asciimath's home page; I see no evidence anywhere that `font()` exists; and again, I don't see how it can exist. ("Put this text in font". What font? It can only make any sense as a binary operator, with a text argument and a style argume

[2018-10-09 10:47] pepijnve commented on #7
Ok. Closing this for the time being then. Just FYI, the gem supports (or at least should) the following font commands:
[code]

[2018-10-09 10:47] #7 closed

[2018-10-13 04:22] mojavelinux opened #8 "Escaped space not converted to no-break space"
An escaped backslash should be converted to a no-break space. However, currently it's being left unprocessed.

Here's an example:

[code]

Expected output:

[code]

Actual output:

[code]

[2018-10-15 19:58] pepijnve commented on #8
Looking into this one. It's not entirely clear how the js asciimath processor deals with escaping exactly. Looks like `\\` and `\ ` are handled, and for every other case a `\` is simply ignored.
I'll try to emulate that as well as possible.

[2018-12-24 09:03] opoudjis commented on #7
The fix is a-ok, and thank you! Would it be possible for you to do a release? We depend on the fix in our production gem suite, and Asciimath is embedded a little too deep for us to rely on gemfile to pull the fix from github.

[2019-01-06 22:30] mojavelinux commented on #7
I arrived here after the assertions in Asciidoctor started failing. Now it seems like all non-ASCII characters and XML special characters are being encoded as hex character references. In other words, instead of `&lt;`, we get `&#x003C;`.

The line that introduces this change is this one:

[code]

I think AsciiMath should honor the encoding of the input string:

[code]

or

[code]

Otherwise, we e

[2019-01-06 22:36] mojavelinux commented on #7
Actually, I think this may be safe after all. It does strike me as something that could be configurable though. But it's not as much of a showstopper as I had originally thought.

[2019-01-06 22:37] mojavelinux commented on #7
The main change was that `&#x003C;` now becomes `&#x3C;` (as a result of using Ruby's XML encoding).

[2019-01-07 08:19] pepijnve commented on #7
@mojavelinux agreed, the encoding should be configurable. My rationale here was that 7-bit ASCII and anything outside that as unicode code point literals would most likely be safe. But now that I think about it again that doesn't handle fixed width multi-byte encodings (e.g., UTF-16) correctly. I'll log an issue for this and get it fixed.

[2019-01-07 10:05] mojavelinux commented on #7
Yep, after more thought, I agree it's safe.

We might want to consider allowing the symbols to be encoded in UTF-8, but that's really a separate "nice to have" request.

Tests are all green!

[2019-01-19 06:43] mojavelinux opened #9 "Crash on truffleruby if input text contains spaces"
The AsciiMath.parse method crashes on truffleruby if the input text contains spaces.

The following works:

[code]

The following does not work:

[code]

Instead, it fails with the following exception:

[code]

[2019-01-19 06:48] mojavelinux opened #10 "Special characters get double encoded in truffleruby"
When running on truffleruby, the `to_mathml` method double encodes special twice.

Consider the following input text:

[code]

This produces:

[code]

instead of the expected:

[code]

It's possible this is a bug in truffleruby itself.

[2019-01-19 06:49] mojavelinux commented on #9
FYI, Travis CI now supports truffleruby. Just add an entry for truffleruby to the RVM matrix in the CI config.

[2019-01-19 16:44] pepijnve commented on #9
@mojavelinux what are you using as development environment for truffleruby? Doesn't seem to be supported by RubyMine yet (at least not in the stable release).

[2019-01-21 07:52] pepijnve commented on #9
vim's too spartan for me. Fine for simple changes, but for real development, debugging, etc. I prefer rich syntax highlighting, code navigation, an interactive debugger, etc...
I guess I'll have to switch back to `puts` debugging for this one for the time being (https://youtrack.jetbrains.com/issue/RUBY-23055).

[2019-01-21 07:54] pepijnve commented on #9
@mojavelinux are you testing just 'native' truffleruby or also the JVM variant?

[2019-01-22 14:10] eregon commented on #10
If TruffleRuby behaves differently than MRI, then it's most likely a bug in TruffleRuby.
Please report it to https://github.com/oracle/truffleruby/issues
A small reproducer is of course even better :smiley:

[2019-01-22 14:13] eregon commented on #9
If TruffleRuby behaves differently than MRI, then it's most likely a bug in TruffleRuby.
Please report it to https://github.com/oracle/truffleruby/issues
A small reproducer is of course even better :smiley:

BTW, missing TruffleRuby support in RubyMine is also something we would welcome a bug for. My understanding is it might already work but might require some configuration, which should be docum

[2019-01-22 15:17] pepijnve commented on #9
@eregon done https://github.com/oracle/truffleruby/issues/1544

I was able to get truffle working with RubyMine by adding it manually. Doesn't get picked up from my rbenv installation though.

[2019-01-22 15:18] #9 closed

[2019-01-22 15:42] eregon commented on #9
@pepijnve Thanks!

Nice :smiley:
There are also reports on the RubyMine tracker:
https://youtrack.jetbrains.com/issue/RUBY-23055
https://youtrack.jetbrains.com/issue/RUBY-19217
If you have a JetBrains account, could you vote them up?

[2019-01-22 15:46] pepijnve commented on #9
The one upvote on 23055 was mine already :) Added a vote to 19217 as well.

[2019-01-22 16:01] #10 closed

[2019-01-22 19:25] mojavelinux commented on #10
@pepijnve Exactly what we needed to know. Thanks for filing the issue upstream!

@eregon While I discovered the issue in Asciidoctor, the stacktrace led to AsciiMath. So I filed the issue here to verify the source of the problem before we brought it to truffleruby. Thanks for the support!

[2019-01-22 19:32] pepijnve commented on #10
@mojavelinux FYI, I dropped MRI 1.8 support as part of this change. Semver would require me to mark the gem as 2.0, but I'm not going to do that. 1.8 is sufficiently legacy that I hope this is a non issue for people...

[2019-01-22 19:33] mojavelinux commented on #10
Fine by me. :+1:

[2019-01-22 19:37] pepijnve commented on #10
@mojavelinux And the builds are green! 1.0.8 should be ready to go on rubygems.org.

[2019-01-23 19:46] mojavelinux commented on #10
Thanks @pepijnve! The upstream builds are now green too.

[2019-01-31 08:44] mojavelinux commented on #9
@pepijnve FYI truffleruby comes with a built-in debugger to which you can connect Chrome DevTools to start a debugging session. See https://www.graalvm.org/docs/reference-manual/languages/ruby/#provide-new-tooling

[2019-10-24 11:01] pepijnve opened #13 "Matrices with complex expressions are not recognised correctly"
For instance in `s'_i = {(- 1, if s_i > s_(i + 1)),( + 1, if s_i <= s_(i + 1)):}` the rhs of the equality is not recognised as a matrix. As a result the output is not correct.

[2019-10-26 13:01] opoudjis opened #14 "Gap analysis against asciimath/asciimathml"
I have noted that expressions like _a'_ do not correctly translate to the prime symbol, but leave the _'_ token as a quote. Given that https://github.com/asciimath/asciimathml/blob/master/ASCIIMathML.js, the Javascript from AsciiMath itself, does recognise the prime, I want to submit this list of symbols unrecognised currently for discussion, before I submit another PR:

[code]

These are also in

[2019-10-26 15:27] pepijnve commented on #14
It’s very well possible that there are still missing symbols. Happy to add more. The equivalent tables in this gem are at https://github.com/asciidoctor/asciimath/blob/master/lib/asciimath/parser.rb#L204
If we modify the parser to recognise more symbols and/or operators then the MathML generator will probably do the right thing already.

[2019-10-27 10:57] opoudjis commented on #14
Well, of these, the only symbols you are outright missing are:

[code]

The following are supported, but syntactically disambiguated:

[code]

The following are markup features you don't currently support (although I don't understand all of them):

[code]

The remainder all seem to be notational variants: they would increase compatibility, but not expressive power.

The first five should be added,

[2019-10-27 12:16] pepijnve commented on #14
I think I got most of them in now. Haven't had a chance to test everything just yet, but I think I get the precedence and formatting right on most of them already.

[2019-10-29 12:42] opoudjis commented on #14
Thank you. There are only two operators on asciimath.org not included in this gem now; color (which I understand skipping), and cancel, which you could implement as U+0338. There is a slight risk that U+0337 is more appropriate, but from https://www.w3.org/TR/xml-entity-names/U00338.html I gather than U+0338 is the canonical cancellation codepoint.

[2019-10-29 14:29] pepijnve commented on #14
asciimath.org turns `cancel a` into `<menclose notation="updiagonalstrike"><mi>a</mi></menclose>`. That should be simple enough to add.

Note that I noticed yesterday while testing that some expressions like `sin(a_b^c)` don't parse correctly at the moment. Not sure if that's a regression I introduced with these changes or not.
This library started out as a simple proof-of-concept. The AST is a bu

[2019-10-29 21:52] opoudjis commented on #14
There is a broader issue with lookahead parsing. Expressions like `sum_(i = 1)^v t_i` do not convert correctly to Word, because OOXML is expecting to see the expression being summed as a single operand (presumably wrapped with `<mrow>`), and can't cope with t and i as two operands. Our current advice is, if you see a blank square in Word output, wrap the operand in `{: :}`; but lookahead parsing,

[2019-10-30 08:07] pepijnve commented on #14
I’m not 100% sure I understand what’s wrong based on your explanation. `t_i` is already a single `msub` element isn’t it?

Regarding `mrow` tags, the mathml generator currently tries to avoid those unless they’re necessary for correct grouping. In the situation above there’s only a single `msub` so the `mrow` is considered redundant.
I noticed asciimath.org is generating the `mrow` though. geenera

[2019-10-30 10:30] pepijnve commented on #14
@opoudjis So `sum_(i = 1)^v t_i ` currently produces
[code]
I don't see anything wrong with that really. asciimath.org turns this into
[code]
the only real difference is the `mrow` around the summation `munderover `, but that's redundant.

Still not sure what you expect as output instead in this particular case.

[2019-10-30 12:29] opoudjis commented on #14
I'm still having trouble working out when Word is having trouble with the MathML expressions; my hypothesis of bracketting addresses many cases, but not this one.

If you paste the foregoing MathML into a Word document, you will get a blank square, meaning Word does not like the MathML. I am still trying to work out what it thinks is missing.

[2019-10-30 12:34] pepijnve commented on #14
Googling around a bit led me to mml2omml.xls. Perhaps running the mathml through an XLST processor using the stylesheet might provide more insight into what's going wrong (see https://stackoverflow.com/questions/10993621/openxml-sdk-and-mathml for an example).

[2019-10-30 12:35] pepijnve commented on #14
Alternatively, we could also consider adding native Office Open XML Math support to this gem, but that's a separate issue.

[2019-10-30 12:43] opoudjis commented on #14
That's exactly what we do. And I know what goes wrong: the OOXML is "ending prematurely", the piece of OOXML corresponding to the operand is missing. OIt's hard for me to understand why it is, right now.

Native OOXML support would actually be contrary to our processing model, which is using MathML as its intermediate representation.

In any case, this is a broader discussion, and I have derailed

[2019-10-31 03:03] opoudjis commented on #14
@pepijnve In case you're interested, I finally worked this out:

https://github.com/metanorma/metanorma-nist/issues/154

Word actually assumes that the operand of any munder mover munderover msup msub msupsub is wrapped in either mrow or mstyle. Otherwise, it ignores it, and assumes the expression is malformed, displaying a dotted square.

Yes. I know.

I'm fixing the prerelease copy of the styles

[2019-11-01 16:25] pepijnve commented on #14
I’m opposed to adding extra wrapper `mrow` elements. Asciimath.org does that as well, maybe for a similar reason. I initially chose to avoid redundant `mrow` tags to keep the generated xml ‘cleaner’.

[2019-11-01 23:52] opoudjis commented on #14
Well, your call, but I did think it is a fairly artificial requirement on the part of Word.

I have found in general that Word is very semantic about its operands, and it complains if it thinks one is missing: I've noticed that behaviour with numerators in fractions as well --- it expects them to be wrapped too. My advice currently to people is, "Word is more pedantic, so if you see a dotted squar

[2019-11-02 11:38] pepijnve commented on #14
It is, but in the end if that’s what it takes to make things work in Word, then why not.

[2020-04-13 14:24] ronaldtse opened #15 "`underset` not recognized"
This AsciiMath expression:
[code]

is being rendered as this MathML fragment:
[code]

Which gets rendered like this:
<img width="308" alt="Screen Shot 2020-04-13 at 10 24 11 PM" src="https://user-images.githubusercontent.com/11865/79128082-80c32480-7dd5-11ea-97f8-9414f8b6aed0.png">

The correct rendering (as done by MathJax) is:
<img width="159" alt="Screen Shot 2020-04-13 at 10 24 39 PM" src="htt

[2020-04-24 22:01] GarkGarcia opened #16 "LaTeX output support"
The title of this issue is a bit misleading 😁️. Parsing LaTeX is definitively out of scope. However, I believe we should consider LaTeX as an output format. In other words, maybe we should implement a `LatexBuilder` class.

Besides making the library more useful for other projects, that would allow `asciidoctor-latex` and `asciidoctor-mathematical` to transpile _asciimath_ blocks to LaTeX, bringin

[2020-04-26 11:54] pepijnve commented on #16
Thanks for the suggestion. Definitely sounds like a good idea.

Regarding the AST... it's kind of messy. This started out as a quick and dirty implementation, very loosely inspired by the JS implementation. As a consequence the AST consists of kind of ad hoc Hashes and Arrays. Your best source of information at the moment is the code.

Note that I've been working on filling in functional gaps comp

[2020-05-01 16:05] GarkGarcia commented on #16
Fixed in 946ff0a.

[2020-05-01 16:05] #16 closed

[2020-05-01 18:35] GarkGarcia opened #19 "AST Redesign"
An issue for discussing the current AST redesign effort. The current proposal is the following:

1. Symbols should be identified by tokens (such as `:aleph`) instead of characters (such as `ℵ`). That way each builder can store an internal table that maps this tokens to their intended representation (like what I did with `LatexBuilde::CONSTANTS`).

2. "Operators" (`:operator`) and "identifiers" (`:

[2020-05-01 18:36] pepijnve commented on #19
Almost done with v1 of this proposal. I'll push something out for review as soon as I have something working.

[2020-05-01 19:40] pepijnve commented on #19
@GarkGarcia if you have a moment, could you have a look at https://github.com/asciidoctor/asciimath/tree/ast ?

I've made a tiny DSL to build the AST. This is used by both the parser itself and the first couple of unit tests I've written. The ASTs in parser_spec.rb should give you a good idea of what to expect as output from the parser. Is this kind of what you had in mind?

[2020-05-01 21:16] GarkGarcia commented on #19
Yes! That's pretty much what I have in mind! The DLS is great too. It's a shame we won't be able to match on the DSL expressions (since Ruby doesn't support generalized pattern matching).

It would be great if you could provide some documentation about which keyword corresponds to which symbols (in AsciiMath terms). Something like a translation table in AST.adoc would be fine.

[2020-05-01 23:09] pepijnve commented on #19
I've added some extra AST details and the symbol table to https://github.com/asciidoctor/asciimath/blob/ast/AST.adoc

Does that cover everything you're looking for?

[2020-05-02 01:57] GarkGarcia commented on #19
I believe so! Great work in there! I'll start adapting the LaTeX builder to the new AST tomorrow.

[2020-05-02 14:15] GarkGarcia commented on #19
While adapting the `LatexBuilder` class to the new AST I've found a bug in the parser.

Apparently the expression `overbrace x` gets parsed as `["o", "v", "e", "r", "b", "r", "a", "c", "e", "x"]` instead of `{:type => :unary, :op => :overbrace, :e => "x"}`. The same goes for `underbrace x`.

[2020-05-02 14:47] pepijnve commented on #19
`overbrace` is not in the symbol table and then that's the correct parsing. I'll go over the tables in asciimath.js again to see what else might be missing.

[2020-05-02 14:57] GarkGarcia commented on #19
I think we're also missing `color` and `cancel`.

[2020-05-02 15:11] pepijnve commented on #19
I'll add aliases for the symbols that are already there. For `color` and `cancel` I would open separate issues since those require extra changes to the output builders that are out of scope for the AST rework. I would prefer to this branch focused on just the AST so that I can land it on master as soon as possible.

[2020-05-02 15:33] pepijnve commented on #19
All the TeX aliases have been added in 69ccea6e00a9f4f1bf9d5650c0a63b5615e46a81

[2020-05-02 15:39] GarkGarcia commented on #19
Great!

[2020-05-02 15:40] GarkGarcia commented on #19
Sure, makes sense.

[2020-05-02 22:26] pepijnve opened #22 "Add support for `color`"

[2020-05-02 22:26] pepijnve opened #23 "Add support for `cancel`"

[2020-05-02 22:27] pepijnve commented on #19
I've merged the ast branch and created #22 and #23 to track adding color and cancel support.

[2020-05-02 22:27] #19 closed

[2020-05-02 22:28] pepijnve commented on #15
This was fixed as part of a rework of the parser in 37a11540b2d9fc5155866a135d5ae46bcb3266cb. Should be available in the next release.

[2020-05-02 22:28] #15 closed

[2020-05-02 23:12] pepijnve commented on #13
This was fixed as part of the AST rework

[2020-05-02 23:12] #13 closed

[2020-05-02 23:37] #8 closed

[2020-05-03 01:38] ronaldtse commented on #15
Thank you @pepijnve ! Really appreciate it! 👍

[2020-05-03 07:48] pepijnve commented on #23
@GarkGarcia seems like you'll need https://www.ctan.org/pkg/cancel to support this in LaTeX. Is that something you could have a look at integrating in the LaTeX backend?

[2020-05-03 07:49] pepijnve commented on #22
@GarkGarcia it seems like this one may also need extra packages to support in in LaTeX. Is that something you could look into?

[2020-05-03 11:35] GarkGarcia commented on #22
Sure. The `\color` command from the `xcolor` package is necessary for this.

Luckily for us, it's included in all relevant LaTeX distributions. Just like the AMS packages, `xcolor` is pretty much standard. Also, it's supported by the Mathematical and Asciidoctor-LaTeX, so it shouldn't be a problem. I'll work on a fix.

[2020-05-03 13:31] GarkGarcia commented on #23
Actually, the way things were implemented, the `cancel` binary operator should now work in LaTeX without any changes to the code-base 😋️.

This is because when it encounters a symbol `s` which is not included in the `SYMBOLS` table, the LaTeX processor defaults to rendering it as `'\\#{s.to_s}'` (which is `'\\cancel'` in this case).

The only thing we'll have to do is updating the notes about the

[2020-05-03 13:31] GarkGarcia commented on #23
Also, we should update the specs too. I'll work on this things.

[2020-05-03 14:26] davidfarmer opened #25 "LaTeX and mathml issues in parser_spec"
I only became aware of this project recently, so apologies if these comments are
premature.

In parser_spec.rb, which I assume you are using to test your parser,
there are some constructions which are not optimal.

z_12^34 should be z_{12}^{34} in latex.

Writing f\left( x \right) in latex does not look good.  If you compare that to f(x)
you will see that the version with the right and left has to

[2020-05-03 14:39] pepijnve commented on #25
The LaTeX backend is very very new. @GarkGarcia finished the first version only yesterday. Any early feedback is definitely welcome.

I’ll have a look at `mfenced`. I didn’t realize this was deprecated. When I wrote the code initially it was based on MathML 2; can’t remember seeing that it was deprecated there. Not a big deal to change the backend to use some other construct.

Function application

[2020-05-03 14:59] GarkGarcia commented on #25
Hey, I'm the one responsible for the LaTeX processor.

I see. This should be an easy fix, I'll work on it as soon as I can.

so that the left and right are needed. I'm interested to hear if you have
a way to deal with that.

We haven't found a way to deal with this. This is why `\left` and `\right` are necessary. Unless we find a way to algorithmically determine if an expression is "big", we'll ha

[2020-05-03 15:31] davidfarmer commented on #25
I thought f and g are always functions in AsciiMath?

There are at least some cases where you don't need the left and right around
function arguments: one character, multiple characters with only +, -, and multiplication between them.  Not obvious to me if the default should
be to have left and right, or the default should be to no have those.

I understand that you are trying to replicate existin

[2020-05-03 15:57] pepijnve commented on #25
They're described as such on the website and marked the same in the asciimath.js code, but I never quite understood what the intention of that was. AsciiMath.js smushes grammar parsing and MathML output into one step so it's not always easy to figure out what's going on. At the grammar level functions don't really exist, they match the `v` rule like other symbols.

The asciimath.js implementation

[2020-05-03 16:03] pepijnve opened #26 "Avoid outputting `mfenced` tags"
`mfenced` [will be deprecated](https://github.com/mathml-refresh/mathml/issues/2) in the next revision of MathML. Since `mfenced` is 100% equivalent to the expanded `<mrow><mo>left_fence</mo>content<mo>right_fence</mo></mrow>` form we should generate that instead.

[2020-05-03 16:04] pepijnve commented on #25
Regarding `mfenced`, MDN is a bit overeager here. It is not deprecated in MathML 3, but will be in the next revision. I've logged issue #26 to track this and added some extra details there.

[2020-05-03 16:42] pepijnve commented on #25
Just FYI, this implementation started as a workalike of asciimath.js with a very similar implementation. That means parsing the grammar and outputting MathML were kind of intermingled. As part of adding the LaTeX backend, @GarkGarcia and I worked on introducing a better defined AST that models http://asciimath.org/#grammar as close as possible.
I've tried to describe what's currently done at https

[2020-05-03 17:07] GarkGarcia opened #27 "LaTeX subsup behaviour"
A follow up to #25. As pointed by @davidfarmer, the LaTeX processor renders the expression `z_12^34` as `z_12^34` instead of `z_{12}^{34}`. This is an error.

I'm working on a patch to place curly braces around the arguments of `_` and `^`. However, to improve the readability of the output, the current algorithm does not place the curly braces around the following:

* Single characters or numbers.

[2020-05-03 17:42] GarkGarcia opened #28 "Avoid using \left and \right in the LaTeX output whenever possible"
A follow up to #25. As stated by @davidfarmer:

you will see that the version with the right and left has too much space after the "f".
(It seems tricky to decide when the object in parentheses is large,
so that the left and right are needed. I'm interested to hear if you have
a way to deal with that.)

I mostly agree. This is definitively a thing we could improve. We'll just have to establish a s

[2020-05-03 17:45] GarkGarcia commented on #25
I believe this issue could be closed. I've created separate issues to track the progress on the improvements @davidfarmer proposed.

[2020-05-03 20:55] davidfarmer commented on #25
I have a dormant project to specify and parse an asciimath-like
syntax that retains semantic information.  When it comes alive again,
I'll let you know.

[2020-05-03 20:59] davidfarmer commented on #27
I agree that it is good to omit the curly brackets in those
single character and single sympol cases.

On Sun, 3 May 2020, Gark Garcia wrote:

[2020-05-03 21:08] davidfarmer commented on #28
I personally don't think there should be a left and right in
g(x^2).  There are two reasons.  First, the space after the
g still looks bad, and the x^2 argument is not that large.
Second, if you have f(x)g(x^2) then the left and right in the
second function makes the two sets of parentheses different
size, which is not good.

Similarly for f(x_j) .

So, I would avoid the left and right in more cas

[2020-05-03 21:18] GarkGarcia commented on #27
Alright, I'll submit the patch as soon as #24 is merged.

[2020-05-03 21:31] GarkGarcia commented on #28
I agree, `\left` and `\right` are not necessary in this case. We could include this in the _should we avoid using \left and \right_ bag. We could use a criterion similar to the one described in #27.

I see. I think this wouldn't be an issue if we were to omit `\left`and `right` in the expression `x^2`, would it?

[2020-05-03 21:35] davidfarmer commented on #28
Correct.  I was just giving multiple reasons for not using left
and right for g(x^2).

[2020-05-03 23:08] GarkGarcia commented on #28
Makes sense. I'll start working on this as soon as #27 is closed.

[2020-05-04 16:32] #26 closed

[2020-05-04 16:33] pepijnve commented on #25
@davidfarmer are you ok with closing this issue for now?

[2020-05-04 16:36] pepijnve commented on #14
@opoudjis this is going to be pretty easy to add now after some internal redesign work that happened last weekend. Do you know if Word requires an mrow around each part (base, sub and sup), just the base, something else?

[2020-05-04 16:37] pepijnve commented on #14
Just FYI the missing bits compared to asciimath.js have been added in the meantime as well. `color` and `cancel` are in along with a bunch of extra missing 'TeX alternative' symbols.

[2020-05-04 16:38] davidfarmer commented on #25
I will close this issue, because the things I mentioned are now elsewhere.
(An apparent anomaly of GitHub is that you can close an issue you opened,
even if you have no authority over the repository.)

[2020-05-04 16:38] #25 closed

[2020-05-04 17:15] GarkGarcia commented on #14
I guess the issue could be closed then?

[2020-05-04 17:22] GarkGarcia commented on #22
Alright, LaTeX support for `color` is now integrated.

[2020-05-04 17:22] #22 closed

[2020-05-04 18:51] pepijnve opened #30 "Use objects instead of Hashes and Arrays to represent the AST"
In order to enable more complex interpretation of the AST it can be helpful to be able to inspect the rest of the tree while generating output for one node. For instance to know if something is a function application or just an identifier it helps to be able to check sibling nodes.

As an example
[code]
is a the application of function `f` to value `x` and it might be desirable to render a `&Apply

[2020-05-04 18:52] pepijnve commented on #30
@GarkGarcia @davidfarmer this is a followup to #25. I would love to hear your input on this.

[2020-05-04 19:32] davidfarmer commented on #30
Well, I saw this coming, which is why (in the issue I closed) I wrote:

I have a dormant project to specify and parse an asciimath-like
syntax that retains semantic information.  When it comes alive again,
I'll let you know.

The problem I was faced with is exactly what you are encountering:
how to deduce semantic information.  How can you tell that
f(x+1) is function application but n (n+1) is mu

[2020-05-04 19:40] pepijnve commented on #30
The days where I did mathematics on a daily basis are a long time ago, so I’m not sure anymore which convention means what. With the risk of sounding a bit thick I think you mean we could consider making whitespace meaningful during output generation.

Seems perfectly reasonable to me. This is something we could easily make a mode on the output generator. Retaining white space and grouping parenth

[2020-05-04 20:11] davidfarmer commented on #30
Yes, spaces have meaning.  If you mean f times the quantity x + h ,
then you would write "f (x + h)", with a space between the f and
the (x+h).  If you meant "f of x + h" then you don't put a space.
The spaces around the "+" are irrelevant.

We started writing a parser for this, but it was not as simple
as the parser you can write from the AsciiMath grammar.  (I was
not the one who worked on the p

[2020-05-04 20:59] GarkGarcia commented on #27
Fixed in https://github.com/asciidoctor/asciimath/commit/bbc91c5270c00e295f9f2984cfd9e8aa845d35f2.

[2020-05-04 20:59] #27 closed

[2020-05-04 22:15] GarkGarcia commented on #23
Fixed on https://github.com/asciidoctor/asciimath/commit/0d9aad240e4e24236b77d1c3d7d5159c4ff7c0ef.

[2020-05-04 22:15] #23 closed

[2020-05-04 23:05] GarkGarcia commented on #30
Makes a lot of sense to me. I mean, Ruby objects are mostly glorified Hashs as far as I can tell, but creating classes to represent the AST could make the code a lot more _self-documenting_.

is adequate, and based on when you wrote I think you agree.
If you really restrict the areas of math that you are considering,
then it can be workable to have f and g always be functions.
But that is a very l

[2020-05-04 23:29] GarkGarcia commented on #30
If we were to make white-space _generally_ meaningful, we should consider it some more.

[2020-05-05 13:23] GarkGarcia commented on #28
I think I'll wait for the conclusion of #30 to start working on this.

[2020-05-05 13:30] #14 closed

[2020-05-05 18:28] pepijnve commented on #30
@GarkGarcia I've introduced the class based AST and updated the html and mathml backends already. That code easier to read now.
I still need to update `AST.adoc`, but I think it's sufficiently self-explanatory if you look at the code. I added new `Group` and `Infix` classes. Those were necessary to be able to roundtrip grouping parentheses and `frac x y` vs `x / y` correctly.

[2020-05-05 19:03] davidfarmer opened #32 "consider an alternative to AM"
In a previous issue was written:

I'm currently studying markup languages that can serve as a viable alternative to LaTeX in the academic document preparation space.

Let me describe some thoughts about this.

First, there is no existing viable alternative.  But I think it is possible to invent one,
which I started doing a couple years ago.  I had a student working on a project,
which started out

[2020-05-05 21:28] GarkGarcia commented on #30
Great! Were the changes merged to `master`? I pulled the `asciidoctor/asciimath` to my local repository, but there weren't any changes. . .

[2020-05-05 21:30] GarkGarcia commented on #30
Ohh, I see. I'll pull `obj_ast`.

[2020-05-06 07:53] pepijnve commented on #32
Absolutely. I can't make any promises in terms of timelines, this is all volunteer work after all, but I'm definitely interested to have a look at what you were working on.

I'm looking at this the same way you build compilers for instance. We can have distinct AsciiMath and SpaceMath frontends that generate a common intermediate representation (i.e. the AST). The backends work off of the AST to g

[2020-05-06 07:55] pepijnve commented on #30
Sorry, should have mentioned that. I prefer to try to keep master in a working, releasable state. Anything that's work-in-progress and breaks existing code is on feature branches until it's sufficiently stable to merge.

[2020-05-06 10:29] opoudjis commented on #14
The sub and sup, as far as I can tell; Microsoft's comment is:

[2020-05-06 11:01] pepijnve commented on #14
hmm, maybe my interpretation of MathML is incorrect. Time to double check the XML schemas.

[2020-05-06 11:08] pepijnve commented on #14
I'm no RelaxNG guru, but afaict it should be fine
[code]

If you follow the grammar rules, that means `<msub><mi>base</mi><mi>sub</mi></msub>` is perfectly valid, at least per the MathML 3 grammar. What revision of MathML does Microsoft claim to support?

[2020-05-06 11:49] pepijnve commented on #14
Same thing in the MathML 2 XSD...

[code]

[2020-05-06 11:50] pepijnve commented on #14
BTW I'm just providing the info here for reference. I'm trying to determine if the MathML we produce is well-formed per the schemas or not. I should probably add that as an assertion to the test suite.

[2020-05-06 12:36] pepijnve commented on #14
XML schema validator says our output is valid as is now, so I'm inclined to say Word bug. I'm still going to add an option to generate wrapper `mrow` tags though so that we can satisfy the Microsoft gods.

[2020-05-06 12:44] opoudjis commented on #14
Sorry! When I posted that, I didn't mean to send you down a rabbithole. The comment is referring to Microsoft's notion of n-Ary operators; that's why they insist on that mrow wrapper. It is a Word bug. It is also a bug that's been there for a decade and will not go away...

[2020-05-06 12:58] pepijnve commented on #14
It's the good kind of rabbit hole.  Ensuring the generated output is well-formed as part of the test suite is a very good improvement and will hopefully prevent silly regressions in the future. I had assumed what we were generating was correct, but you know what they say about assumptions. 😄

[2020-05-06 13:20] pepijnve commented on #14
@opoudjis could you give f105d4d52c1b8f0c486fba204489b5444dec0e88 a try?

For now you'll have to run the code like this to use the new option
[code]

[2020-05-06 15:01] GarkGarcia opened #34 "Standardize color descriptors across renderers"
A follow up to https://github.com/asciidoctor/asciimath/pull/33#issuecomment-624697116.

My idea is to create a standard for valid color descriptors, which would be used by all renderers. Invalid color descriptors could then be detected at the parsing level. Also, that would allow for greater flexibility at the rendering level, since each renderer would be able to translate those standard color de

[2020-05-06 15:03] GarkGarcia commented on #30
I've integrated the new, class-based AST to the LaTeX renderer. As soon as the `obj_ast` branch is merged to `master` I'll close this issue.

[2020-05-06 15:25] GarkGarcia commented on #32
I absolutely agree. As of now, my work in here and in other `asciidoctor` repos is geared towards improving facilities for mathematical and academic publishing in the Asciidoctor ecosystem. I'm happy to see we share common goals.

which I started doing a couple years ago. I had a student working on a project,
which started out as a way to convert AsciiMath to LaTeX. (There exists such a
converter,

[2020-05-06 15:35] pepijnve commented on #34
To get us started, here's what MathML supports:
[code]

I.e. hex RGB values or a handful of case-insensitive color names, `aqua`, `black`, `blue`, `fuchsia`, `gray`, `green`, `lime`, `maroon`, `navy`, `olive`, `purple`, `red`, `silver`, `teal`, `white`, and `yellow`.

[2020-05-06 15:42] #30 closed

[2020-05-06 15:43] GarkGarcia opened #35 "Update AST.adoc"

[2020-05-06 15:48] GarkGarcia commented on #34
This is a pretty good starting point. I'm pretty sure LaTeX supports that too.

Do have any ideas on how we could represent the `color` _spacial_ operator in the AST?

[2020-05-06 16:04] GarkGarcia commented on #34
I was thinking about something like the following:

[code]

[2020-05-06 19:17] pepijnve commented on #34
What would that node represent? Is value the colored expression or the color itself?

[2020-05-06 20:59] GarkGarcia commented on #34
Both! If `c` is an instance of `Colorized`, `c.descriptor` represents the color of the node and `c.value` represents the expression associated with it. So `Colorized`essentially represents _here's an expression that should be colored this way_.

[2020-05-06 20:59] GarkGarcia commented on #34
Also, `Colored` may be a better name for the class.

[2020-05-06 21:26] GarkGarcia commented on #28
@davidfarmer As previously discussed, I belive the question of whether or not we should output `\left`and `\right` is a question of whether or not we can prove that and expression doesn't need `\left` and `\right`.

I came up with the following recursive predicate:

What do you think?

[2020-05-06 21:36] GarkGarcia commented on #28
Of course there _might_ be cases where _s_ is "small" and _P(s)_ does not hold, but those cases would create a prove.

[2020-05-06 21:38] GarkGarcia commented on #28
We could also include some standard AsciiMath operator, such as `hat` and `vec`.

[2020-05-06 21:44] GarkGarcia commented on #28
Also, if we consider the expression `s1(s2)`, I don't believe knowing whether or not _s1_ is a function application or simply the result of an implicit multiplication would impact the LaTeX output. @davidfarmer Do you agree?

[2020-05-06 22:30] davidfarmer commented on #28
The issue of \left and \right is more subtle than I originally
indicated.  In some sense, this is a design flaw in LaTeX:
when you put the \left and \right, it typesets it as if it was
implied multiplication.  You have to do a bunch of extra markup
(which I am having difficulty locating right now) to get big
parentheses without extra space.

With perfect markup, there is a small space to indicate

[2020-05-07 00:42] opoudjis commented on #14
Will do, hold on

[2020-05-07 01:16] opoudjis commented on #14
No: .append_expression() is constantly giving me the error

*** TypeError Exception: no implicit conversion of Hash into String

     # /Users/nickn/.rvm/gems/ruby-2.5.1/bundler/gems/asciimath-98b2c60bcb68/lib/asciimath/mathml.rb:187:in `tag'
     # /Users/nickn/.rvm/gems/ruby-2.5.1/bundler/gems/asciimath-98b2c60bcb68/lib/asciimath/mathml.rb:168:in `method_missing'
     # /Users/nickn/.rvm/gems/ru

[2020-05-07 07:04] pepijnve commented on #14
Time for some unit tests... While we're on the subject, would it help if this library could generate OfficeMath XML directly? Might be more reliable when integrating with Office than MathML.

[2020-05-07 07:16] pepijnve commented on #14
@opoudjis seems to work fine on `master`. I've added a test case already, if you have any other examples that don't work feel free to send them over.

[2020-05-07 07:34] pepijnve commented on #32
http://www.unicode.org/notes/tn28/UTN28-PlainTextMath-v3.pdf might be interesting to have a look at as well.

[2020-05-07 11:24] opoudjis commented on #14
Will initiate testing now, thank you.

We'll still do the conversion to Office Math for now, but that extra step isn't that onerous; will let you know.

[2020-05-07 15:07] GarkGarcia commented on #28
Indeed, and it's a mistake that could be easily fixed (by not inserting a space at the start of the `\left` macro).

I agree. There are a lot of edge cases.

This is an issue. Keep in mind we want to output  human-readable LaTeX code, so using low-level TeX hacks is out of picture.

I'm not sure. I didn't quite understand if you approve the predicate I proposed or not.

[2020-05-07 15:10] GarkGarcia commented on #28
If, by any change, `amsmath` exposes a macro that deals with parenthesis in the appropriate way, we could simply use it.

[2020-05-07 15:32] davidfarmer commented on #28
Your description of what is "small" does not include e^{x + 1}, but that should be considered
small.

Maybe something like:
all single characters and digits are "very small".
If a and b are very small, then so is a+b, a-b, and a*b.
If a, b and c are very small then the following things are small: a_b, a^c, and a_b^c.
If a and b are small, then so is a+b, a-b, and a*b.
Don't use \left and \right on

[2020-05-07 16:06] GarkGarcia commented on #28
Makes sense to me. I'll start working on the implementation.

[2020-05-07 17:15] davidfarmer commented on #28
You can either output human-readable LaTeX, or you can output LaTeX that correctly
puts no space after the "f" in `f\left(whatever\right)` .  There is a design flaw in TeX,
or an error in how left and right are implemented, that messes up that spacing.

Basically, TeX does not have a natural way to distinguish between implied multiplication
and function application (as well as numerous other short

[2020-05-07 20:48] GarkGarcia commented on #28
As you've just pointed out, we could output a `\!` between `f` and `\left <whatever>`. I believe the MathML render already does something similar with `&FunctionApplication` (or something like that).

It would be simply an issue of disambiguating between implicit multiplication and function application, which is another topic we've been discussing.

For now, I'll close this issue, since the _unnec

[2020-05-07 20:48] #28 closed

[2020-05-07 20:56] GarkGarcia commented on #28
language for mathematical content. That is an important distinction, and I do not mean
to imply that there is something wrong with TeX: its just not the tool most of us need for
authoring mathematics. That is why I started working on Space Math (for which I am putting
together more details).

Interesting. I've though about it in this way. Makes a lot of sense to me, looks like a good explanation f

[2020-05-07 21:16] GarkGarcia commented on #28
Cool! I long for those details.

[2020-05-07 22:35] GarkGarcia opened #37 "Fix the spacing of some standard AsciiMath operators"
Some standard AsciiMath operators - such as `Sin` - don't really have a direct LaTeX equivalent. As of now, the solution I came up with was to output `\text{Sin}`, which mean the ouput for `Sin x` and `"Sin" x` is the same.

The rendered output look like the following:

![CodeCogsEqn](https://user-images.githubusercontent.com/37553739/81349765-09f90e80-9097-11ea-9a54-1dd04bd36998.png)

One could t

[2020-05-08 00:55] davidfarmer commented on #37
I am not sure what you mean by "Sin".  Is that different than "sin",
which is what appears in the table on the asciimath home page?

If you wanted a function like the TeX `\sin` but with a capital S,
then you write it as `\operatorname{Sin}(x)`.

This Stackexchange question explains the point of operatorname
as distinct from text or mathrm:

https://tex.stackexchange.com/questions/48459/whats-the-

[2020-05-08 02:01] opoudjis commented on #14
From https://github.com/metanorma/metanorma-standoc/issues/272, the tests are successful, and have improved output.

[2020-05-08 02:11] opoudjis commented on #14
Ok. Our workflow is asciimath > MathML in our asciidoc > XML stage, and MathML > OOXML in our rendering stage; we would not go direct from asciimath to OOXML, so we don't require support from this gem to do so. However, clearly others would like to, so I'm letting you know how we convert it.

Microsoft converts MathML to OOXML using an XSL stylesheet embedded in Office. We use a pre-release versio

[2020-05-08 11:32] GarkGarcia commented on #37
Yep, that's what I wanted.

Thanks! That's just what I was looking for!

[2020-05-08 12:05] GarkGarcia commented on #37
Fixed on https://github.com/asciidoctor/asciimath/commit/74e5ba3355837774c202b4c61b085f9e0b62f612!

[2020-05-08 12:05] #37 closed

[2020-05-08 15:55] GarkGarcia opened #40 "Add "ker" as a standard symbol?"
I think we could add the [`ker`](https://en.wikipedia.org/wiki/Kernel_(algebra)) symbol to the symbols table. It's pretty common in Algebra, just like `dim` (which is included in the symbols table).

The expression `ker` would then be parsed as `symbol('ker', :ker)`. Here is an example of it's use in context:

[code]

![ker](https://wikimedia.org/api/rest_v1/media/math/render/svg/b7408dcfef7464aff

[2020-05-08 15:55] GarkGarcia commented on #40
@pepijnve What do you think?

[2020-05-08 18:34] davidfarmer opened #41 "Anomalies in symbols table"
This refers to the symbols table in AST.adoc .

For example, the first of these two lines presumably should end in `sinh`:
<pre>
sinh | :sinh |   | Sinh
Sinh | :Sinh |   | Sinh
</pre>
There are some other similar examples (Cosh, Tanh, Coth, Sech, Csch)

And the capitalization at the end of this line does not make sense to me:
<pre>
arcsin | :arcsin |   | ARCsin
</pre>

Some rows in that table have

[2020-05-09 04:31] opoudjis commented on #32
Btw I don't have an opinion about this (well, actually I do, which is AsciiMath is fine though not centrally defined); but I'll note that http://www.unicode.org/notes/tn28/UTN28-PlainTextMath-v3.pdf  is as close as we have to a window into what Microsoft Word thinks it's doing with its maths expressions (including what Microsoft consider to be n-ary operations, which we were discussing in a differ

[2020-05-09 04:33] opoudjis commented on #26
... unless the 15 year old Microsoft Word stylesheet we are using to convert MathML into OOXML doesn't support it. Did the move away from mfenced make it into the testing we did of https://github.com/asciidoctor/asciimath/issues/14? From the date, it sounds like it did, and that we don't have a problem.

[2020-05-09 07:08] pepijnve commented on #41
This is probably my fault. I wrote a little script to generate that table, but the script doesn’t handle asciidoc escaping. I had to manually tweak it and probably made some mistakes.

The source formulated table is split into two locations.
The parser uses the table that’s declared at https://github.com/asciidoctor/asciimath/blob/master/lib/asciimath/parser.rb#L204
That table maps text input to R

[2020-05-09 07:12] pepijnve commented on #40
No objection from me, but we are deviating for asciimath.js then. Does that matter? I don’t really know.

Perhaps it would provide more flexibility if we define a way for users to extend the symbol table that doesn’t require code changes. The introduction of the SymbolTableBuilder should make that pretty easy. I’m thinking, for instance, that you could pass an optional block where appropriate that

[2020-05-09 07:48] pepijnve commented on #41
@davidfarmer I tweaked dump_symbol_table a bit so that the manual massaging is no longer necessary. The table in AST.adoc is now derived directly from the source code. Note that this only reflects the MathML/HTML rendering. The LaTeX backend uses its own rendering table located at https://github.com/asciidoctor/asciimath/blob/master/lib/asciimath/latex.rb#L23

[2020-05-09 09:24] pepijnve commented on #26
Thanks for refreshing my memory @opoudjis. How about toggling back to `mfenced` when the `:msword` option is used?

[2020-05-09 19:11] pepijnve commented on #26
@opoudjis a906af4 restores mfenced output for ms office mode. Sorry for the regression.

[2020-05-09 23:09] GarkGarcia commented on #40
Indeed, we'd be deviating from the standard - if you can call it one. I personally don't mind this kind of change, since it wouldn't rely impact the language semantics. I also think that `ker` is common enough for us to include it by default.

I was thinking about the same, we could introduce an extension model that relies on adding symbols to SymbolsTable, but there are some complications.

First

[2020-05-09 23:15] GarkGarcia commented on #40
Anyway. I believe we should create an issue to discuss this. However, this isn't really a priority at the moment.

[2020-05-09 23:42] GarkGarcia commented on #34
Perhaps this naming-convention is more intuitive:

[code]

[2020-05-10 16:56] GarkGarcia commented on #41
Indeed. I was thinking we could include it in `SymbolsTable`. @pepijnve Do you think it's a good idea?

[2020-05-10 18:33] pepijnve commented on #41
Sure why not. Feel free to tweak the dump script to add a column for the LaTeX output.

[2020-05-10 18:40] pepijnve commented on #40
@GarkGarcia 83886c4 takes care of the first necessary step to make the symbol tables extensible. I'm inclined to leave an external configuration system outside of the scope of this library. Seems better to leave that to the tools that make use of it.

[2020-05-10 18:43] pepijnve commented on #34
The intent of the ValueNode was to be a wrapper around a single value, be it a number, symbol, text, identifier, etc. So Colored would be an InnerNode rather than a ValueNode.

That aside, I'm not sure this would make sense. I can see the usefulness of having a distinct representation for colours themselves (for instance to add an `rgb` method), but I think we can leave the color operator as just

[2020-05-11 11:44] GarkGarcia commented on #40
Fair enough, makes sense to me.

[2020-05-11 12:07] GarkGarcia commented on #34
Fair enough. How about this representation for the colours?

[code]

Notice that colours that have a name (such as `red`) would still be represented in terms of their RGB values. This ensures that every "named-color" can be expressed appropriately by each renderer, even when the color does not have a name in the output language.

[2020-05-11 12:08] GarkGarcia commented on #34
I hope I could make myself understood.

[2020-05-11 12:19] pepijnve commented on #34
That's exactly what I had in mind. Make the color available as something more abstract than a name or hexstring so that the color itself is unambiguously defined and each backend can render it as appropriate.

[2020-05-11 12:21] pepijnve commented on #34
For reference, the RGB values for the HTML color names are specified in https://www.w3.org/TR/html401/types.html#h-6.5

[2020-05-11 13:09] GarkGarcia commented on #34
The predefined colours use by `xcolor` are detailed in [here](https://en.wikibooks.org/wiki/LaTeX/Colors#Predefined_colors). Also, [this](https://developer.mozilla.org/en-US/docs/Web/CSS/color_value#Color_keywords) are the ones specified in CSS

[2020-05-11 13:11] GarkGarcia commented on #34
@pepijnve Do you know which scheme is used by `asciimathml`?

[2020-05-11 13:31] GarkGarcia commented on #34
In my opinion, the standard color sets specified in CSS and `xcolor` are a bit bloated. The HTML standard color set is the more appropriate one, but it still has some unnecessary colours (such as _Navy_ and _Olive_) and it lacks some important colours (such as _Orange_).

We should probably include all basic RGB colours (_Red_, _Green_, _Blue_, _Cyan_, _Magenta_, _Yellow_, _White_ and _Black_), as

[2020-05-11 13:35] pepijnve commented on #34
MathML reuses the HTML4 ones https://www.w3.org/TR/MathML/mathml.html#chapter2_fund.color

[2020-05-11 14:26] GarkGarcia commented on #34
We should probably consider a more _human-oriented_ set of primitive colours too, like [this](https://en.wikipedia.org/wiki/Primary_color#Psychological_primaries).

I think most users wouldn't be thinking in terms of RGB values when writing equations. I they wish to describe a colour in RGB, they can simply use a hexadecimal color-code

[2020-05-11 14:31] pepijnve commented on #34
As with the other changes, I'm inclined to stick with what asciimath.js does by default and allow customisation. What that means is making another lookup table from color names to rgb values using the HTML4 colors as default. People can then insert whatever color table they want to use if the defaults are not useful.

[2020-05-11 14:35] GarkGarcia commented on #34
Fair enough. Makes sense to me.

[2020-05-11 14:39] GarkGarcia commented on #34
I guess the color tables would have to be (optionally) passed to `MarkupBuilder::initialize` then?

@pepijnve Could you work on the relevant changes? I'm not familiarized with the parsing routines enough to write this sort of change?

[2020-05-11 14:40] GarkGarcia commented on #34
I'll work on the changes in `LatexBuilder`, of course.

[2020-05-12 07:34] pepijnve commented on #34
@GarkGarcia I took a first stab at this. The LaTeX builder now generates `\color[RGB]{r,g,b}` to make sure we're always specifying the exact RGB value.

[2020-05-12 08:27] pepijnve commented on #35
@GarkGarcia could you have a look at the updated document. Is this sufficient?

[2020-05-12 08:29] pepijnve commented on #41
The table has been updated to reflect what's actually in the code.

[2020-05-12 08:29] #41 closed

[2020-05-12 12:01] GarkGarcia commented on #35
Yep, pretty much!

[2020-05-12 12:01] #35 closed

[2020-05-12 12:04] GarkGarcia commented on #34
Great! We should probably output the name of the color whenever possible. That would make the output more readable. I'll work on a PR for it.

[2020-05-12 18:27] #34 closed

[2020-05-12 19:05] GarkGarcia opened #45 "Releasing the recent changes to RubyGems"
I think we're getting closer to the point of releasing the recent work we've done to RubyGems. That would _finally_ allow `asciidoctor-mathematical` and `asciidoctor-latex` to support AsciiMath.

@pepijnve Is there something you'd like to review before releasing the changes?

[2020-05-13 07:16] pepijnve commented on #45
No I think we're good. Let me double check the CHANGELOG and then I'll cut a new release.

[2020-05-13 07:23] pepijnve commented on #45
I've released the new version as `2.0.0` since we pretty much overhauled all the internals and the public interface has changed a bit.

[2020-05-13 07:23] #45 closed

[2020-05-14 13:37] GarkGarcia opened #46 "Create interfaces for extentions and custumazation"
The changes we've been working on recently should make it pretty easy to make the parser and the renders extendable. The code is already there, we just need to create some facilities for users to use it and document it.

My proposal is the following:

1. Make `SymbolsTable` render-agnostic. The idea is that `SymbolsTable` would have a column for _MathML_, a column for _LaTeX_ and a column for _HTM

[2020-05-14 14:32] GarkGarcia commented on #16
For reference, AciiMath support has been implemented in `asciidoctor/asciidoctor-mathematical` (https://github.com/asciidoctor/asciidoctor-mathematical/commit/d82041ddce64ea6014f3f3d613f3d5e6c4d257d3)!

`asciidocto-mathematical` now uses `asciimath` to transpile AsciiMath blocks to LaTeX and then render them to PNG/SVG.

[2020-05-14 15:16] davidfarmer commented on #46
Consider \int x^2 dx .

That is not actually how most people write it, because there
is not enough space between the x^2 and the dx.  So it is
common for the LaTeX source to be written \int x^2 \, dx .

But, some people think the "d" in "dx" should be upright,
not italics.  Some people make a "\d" macro for that.

Is it the decision of the author, or the viewer (or renderer)
how to typeset the dx

[2020-05-14 15:17] pepijnve commented on #16
That's great news!

[2020-05-14 15:34] pepijnve commented on #46
it the other way, are you planning to accommodate that?

Both I think. The idea is to make the tables configurable. Tweaking the parser table is tricky since the semantics change, but tweaking the rendering table should be easy.

The parser symbol table determines how the parser interprets the asciimath input. If you put `'dx' => :dx` in there, you'll get a `:dx` symbol in the AST. If you do not h

[2020-05-14 21:17] GarkGarcia commented on #46
Great! I guess we're only missing the parameter wiring then? Also, the LaTeX renderer does not use a `SymbolsTable`.

It wouldn't be that hard of change to implement, but I haven't figured out what the second argument of `SymbolsTable.add` is supposed to represent. It looks like it's something essential to the parser, but I don't understand why it is necessary for the renderers.

Fair enough. As y

[2020-05-14 21:39] GarkGarcia commented on #46
I agree, it's better to keep things as simple as possible in here. I see an opportunity to create a CLI utility to handle that kind of think. It could be very useful for command-line scripting.

The idea is to create a richer client for the library. The library's command-line interface is very useful for debugging, but it's a bit limited overall.

[2020-05-15 07:27] pepijnve commented on #46
`SymbolTableBuilder` is a little utility class that helps build a frozen Hash. The basic signature for `add` is `add(*keys, value, type)`. For each value in the `keys` Array a Hash entry will be created with value `{:value => value, :type => type}`. The precise semantics of the keys, values and types are not specified, that depends concrete the usage.

For the parser table you have entries like
[c

[2020-05-15 13:46] GarkGarcia commented on #46
Ohh, I see. Makes sense.

I made `LatexBuilder::SYMBOL_TABLE` public and created an additional (optional) parameter in `LatexBuilder::initialize` so that users can pass custom symbol tables to the renderer. @pepijnve Could you take a look at #47?

[2020-05-15 13:48] GarkGarcia commented on #46
I also renamed `LatexBuilder::SYMBOLS_TABLE` and `MarkupBuilder::DEFAULT_DISPLAY_SYMBOL_TABLE` to `Whatever::SYMBOL_TABLE` for consistency.

[2020-05-20 01:05] opoudjis commented on #26
Right; the output seemed ok when we tested it without mfenced, but let's keep it for now. I suspect that getting rid of mfenced actually fixed https://github.com/metanorma/metanorma-standoc/issues/228, and that mfenced might have been a crude mechanism to enforce `<mrow>` bracketing. But we should probably do proper testing of rendering with and without mfenced.

[2020-05-21 21:52] GarkGarcia commented on #32
The following may also be relevant for the discussion:

http://xml.coverpages.org/coombs.html

I've transpiled the web-page to Asciidoc and rendered it to PDF. If anyone wants a copy of it I can send it via email. I'm not how the article is licensed, so I wont distribute it in here.

[2020-06-27 01:42] ronaldtse opened #48 "Parsing of matrices of a single column fails since 2.0.0"
Parsing of this worked prior to 2.0.0.

[code]

Trace:

[code]

Will submit a corresponding PR.

[2020-06-27 12:38] #48 closed

[2020-06-27 13:57] GarkGarcia commented on #46
Fixed in https://github.com/asciidoctor/asciimath/commit/341543593c43096300ab72e30f8dfac33593bb4c.

[2020-06-27 13:57] #46 closed

[2020-06-27 15:15] #40 closed

[2020-06-29 11:25] andrew2net commented on #48
Hi guys, is it possible that the fixing will be released soon?

[2020-06-29 11:52] pepijnve commented on #48
@andrew2net absolutely. I was still dealing with some test failures. Those are resolved now so I'll make the 2.0.1 release asap.

[2020-06-29 13:07] pepijnve commented on #48
@andrew2net 2.0.1 has been pushed to rubygems.org

[2020-06-29 14:56] andrew2net commented on #48
@pepijnve thank you very much

[2020-07-21 16:55] ronaldtse opened #50 "Crash when italics symbol `ii` used independently"
In AsciiMath 1.x this asciimath expression worked:

[code]

In 2.x this crashes:

[code]
= >
[code]

It crashes because it considers `ii` the italics operator and instantiates it as one `Unary` object (`ii`), but it is actually a set of two `Identity` objects (`i` and `i`).

The workaround in 2.x is to add a space in between, i.e. `'E_{{i i}}'`:

[code]
=>
[code]

AsciiMath.org supports `E_{{ii}}`

[2020-07-22 17:47] pepijnve commented on #50
I still have to figure out why this worked in 1.x. I did some digging through the git history already and it shouldn't have worked either.

`ii` is the italic unary operator, similar to `bb`. This is slightly different than asciimath.org which doesn't support italic. I tried `E_{{bb}}` as input in asciimath.org to see what happens there when operands are missing and that causes a parse error. b7e5

[2020-07-22 17:52] pepijnve commented on #50
@ronaldtse In 1.0.9, `E_{{ii}}` translated to `<math><msub><mi>E</mi><mstyle mathvariant=\"italic\"></mstyle></msub></math>`; not quite correct.

With b7e5c55 you get `<math><msub><mi>E</mi><mrow><mo>{</mo><mstyle mathvariant=\"italic\"><mi></mi></mstyle><mo>}</mo></mrow></msub></math>` instead. Is that acceptable?

[2020-07-23 02:33] ronaldtse commented on #50
Thanks for following up on this! I guess the output of 1.0.9 wasn't proper either.

Perhaps the best way to move ahead is to:
1. have the output specified in b7e5c55
2. document that if an expression of identifiers that clash with any of the defined symbols (such as `ii`), a space should be placed in between for disambiguation.

What do you think?

[2020-08-26 14:07] opoudjis opened #51 "accent attribute needs to be respected in processing, for Word"
`hat p` currently renders into MathML as `<mover><mi>p</mi><mo>^</mo></mover>`. When this is converted into Word, the result is

![](https://user-images.githubusercontent.com/55683568/86541115-a2cacf80-bf0a-11ea-908e-3bcff525203b.png)

instead of the desired

![](https://user-images.githubusercontent.com/55683568/86541126-b5450900-bf0a-11ea-850d-eca18b59f5dc.png)

Inspecting the Word OOXML XSLT, i

[2020-08-27 08:11] pepijnve commented on #51
@opoudjis could you give the changes in 49ccf25 a try. This should cause `accent="true"` and `accentunder="true"` to get produced on `munder`, `mover`, and `munderover` tags for every symbol that's marked as `:accent`.

[2020-08-27 08:19] pepijnve commented on #51
Interestingly enough asciimath.js doesn't seem to produce these attributes either. According to MDN only Firefox actually does anything with them. It doesn't cause any problems when adding them though, so no there's no harm in this change.

[2020-08-27 21:20] GarkGarcia commented on #32
@davidfarmer Any updates?

[2020-08-27 21:30] davidfarmer commented on #32
My update is I wish "the current situation" wasn't causing me an enormous amount of extra work so I could get back to some projects that I would like to make progress on.

I have not forgotten about this.

[2020-08-27 22:39] GarkGarcia commented on #32
I understand, those are difficult times indeed, sorry for the annoyance. Hoping to see the material you mentioned.

[2020-08-27 23:30] davidfarmer commented on #32
Not annoying.  Glad to be reminded there is interest.

On Thu, 27 Aug 2020, Gark Garcia wrote:

[2020-09-17 15:27] opoudjis opened #52 "phi/varphi option"
There is a split in which character is used for phi and which for varphi.

* Unicode has U+03C6 as phi and U+03D5 as the variant of phi
* TeX has them the other way around; so did Unicode before 1998
* Asciimath, MathJax, AsciiMathML all follow TeX as a default, and they all provide an option to give Unicode instead of TeX behaviour (fixphi = false, true by default): see e.g. https://github.com/as

[2020-09-17 16:14] opoudjis commented on #51
Thank you. It turns out that the Word OOXML stylesheets make a further assumption, that the second argument of mover is an mo, in order to apply the accent conversion:

`      <xsl:when test="$fAccent = 1                        and $ndCur/child::*[2] = mml:mo">`

So AsciiMath generates: `<mover accent="true"><mrow><mi>p</mi></mrow><mrow><mo>^</mo></mrow></mover>`
Word expects: `<mover accent="true

[2020-09-17 16:26] pepijnve commented on #51
🙄 I'm still surprised how picky Word is about MathML. They claim to support it but half the valid MathML out there probably doesn't render right...

[2020-09-17 16:26] pepijnve commented on #52
Makes sense to stick to what the other implementations do. I'll get that added ASAP.

[2020-09-18 01:03] opoudjis commented on #51
Word's Maths remains a dumpster fire if you look at it closely enough. :-( The latest I've had to deal with is that it completely ignores its own font shift commands; I've had to inject HTML markup to force them to work...

[2020-09-18 07:28] #52 closed

[2020-09-18 07:29] pepijnve commented on #51
I went ahead and added some code to avoid `mrow` on the accent sub/under and sup/over elements if possible. That logic is Word specific anyway, might as well give it what it wants.

[2020-09-19 10:43] opoudjis commented on #51
You, Pepijn, are a good human being, and it is always a pleasure working with you.

[2020-09-19 11:12] pepijnve commented on #51
☺️ My little contribution to counterbalance all the awfulness of 2020.

[2020-11-08 19:26] sebi5361 commented on #32
Dear David, thank you for your useful comment on my AsciiMath issue you mentioned just above. I would love to see Space Math in its current state or to discuss in this thread what could be the expectations for this AsciiMath-improved langage.
Do not hesitate to publish your open-source code as it is in its current state so we could dive in. In am sure you have already consider it, but it might me

[2020-11-17 12:42] opoudjis commented on #51
@pepijnve We can close this issue right?

[2020-11-17 12:48] pepijnve commented on #51
I'm looking to you for the answer there @opoudjis. If the fix is sufficient for you then this can be closed indeed.

[2020-11-17 13:00] opoudjis commented on #51
It is, thank you. Closing!

[2020-11-17 13:00] #51 closed

[2020-11-23 12:25] opoudjis opened #53 "Request normal font shift"
We are using AsciiMath to enter expressions with units, https://github.com/metanorma/bipm-si-brochure/issues/54, and that requires the option of a font shift to normal, upright font.

This is not present in most instances of Asciimath, but as I found in https://github.com/asciidoctor/asciimath/issues/7, https://runarberg.github.io/ascii2mathml/  (now offline) had `rm` (taken from TeX, although it

[2020-11-23 12:41] davidfarmer commented on #53
Instead of a shift in font, how about a way to indicate that
certain characters represent units?

That has the advantage of being semantic.  The work to implement
it is the same, but the mindset of the person writing the formula
is different.

On Mon, 23 Nov 2020, Nick Nicholas wrote:

[2020-11-24 02:19] opoudjis commented on #53
We will be doing that in a month or so; but this is a genuine gap in Asciimath coverage anyway, and should be filled whatever we end up doing. if fonts shfits are allowed over non-text, they cannot ignore upright/normal font. If it is legal to say `ii(xyz)`, we should also be able to say `rm(xyz)`.

[2020-11-25 07:48] pepijnve commented on #53
@opoudjis I think 685fd2f does what you're asking for. Regarding the original issue, wouldn't using text rather than an identifier, as the poster asked, have worked as well?

[2020-11-25 07:49] pepijnve commented on #53
BTW, I did not change the semantics of `sfbi` as you suggest in your description. Was that a typo?

[2020-11-26 01:41] opoudjis commented on #53
Yes, typo.

We're trying to generate MathML compatible with the UnitsML proposed spec, which uses MathML `<mi mathvariant="normal">` for units. While mtext will work, mi is what we'd prefer to do, and of course either mtext or mi will require the normal font shift anyway. (And yes, in the longer term, we will look at a Units/Asciimath hybrid markup, but we're not there yet/)

And yes, your update

[2020-12-12 18:16] slonopotamus opened #55 "Migrate away from travis-ci.org"
travis-ci.**org** is going to be shut down on **December, 31**:

https://docs.travis-ci.com/user/migrate/open-source-repository-migration#frequently-asked-questions

Also, note that travis-ci.**com**, while being the most logical place to move to, has **build time limits** for public repositories:

https://blog.travis-ci.com/2020-11-02-travis-ci-new-billing

Most of Asciidoctor ecosystem has alrea

[2020-12-13 10:22] pepijnve commented on #55
A PR would be more useful than a pamphlet 😄 I know Travis is shutting down, but my spare OSS time is limited.

[2020-12-13 13:27] #55 closed

[2020-12-13 13:28] #50 closed

[2020-12-13 13:28] #53 closed

[2021-01-09 14:21] opoudjis commented on #40
Just as a random comment, @pepijnve : we had a document with ∓ in it, and we considered asking for support of pm as an operator in asciimath.

I have rejected that approach. I do not think it is appropriate to extend asciimath on our own initiative, and to extend it to cover all of LaTeX. We do also support LaTeX, and I think it is appropriate for us to use LaTeX if we encounter symbols absent fro

[2021-01-10 21:17] GarkGarcia commented on #40
I agree, and this is mostly why there's a question mark at the end of the title of this issue (even though I failed to express myself in clear terms). I think adding a couple of commonly used symbols such as `ker` and `pm` to our default symbols table is fine, but it is quite limited and it fails to address the bigger issue of extensible.

As a mathematician (or a student of mathematics, really),

[2021-03-11 14:38] opoudjis commented on #53
@pepijnve, would it be possible to release asciimath soon? We're about to give a document to an external party using this functionality.

[2021-03-12 21:16] pepijnve commented on #53
Sorry Nick, I kind of forgot about this one. I'll make a new release right away.

[2021-03-12 21:18] pepijnve commented on #53
Fix is in https://rubygems.org/gems/asciimath/versions/2.0.2

[2021-04-07 07:35] skalee opened #58 "Percent sign should be an operator (<mo>)"
### Problem description

Given example:

[code]

Expected result:

[code]

Actual result:

[code]

That is it includes `<mi>%</mi>` instead of `<mo>%</mo>`.

### Rationale

1. It is a suffix operator or part of number notation, but certainly not an identifier.
2. https://github.com/asciimath/asciimathml converts percent signs to `<mo>%</mo>`.

### Can you provide a fix?

I think so.

[2021-04-07 11:58] pepijnve commented on #58
I found the missing bit of logic in the asciimath.js implementation at https://github.com/asciimath/asciimathml/blob/master/ASCIIMathML.js#L605 `tagst = (("A">st || st>"Z") && ("a">st || st>"z")?"mo":"mi");`

This implementation doesn't have this heuristic in place. Should be easy enough to fix.

[2021-04-08 02:26] skalee opened #59 "Optionally leave Unicode characters unescaped in MathML output"
This is a feature request. I can provide implementation, but I wanted to discuss things first.

----

MathML does not enforce any particular encoding, UTF-8 is legal, and non-ASCII characters can be used without escaping them [[W3C](https://www.w3.org/TR/MathML3/chapter7.html#chars.unicodechars)].

However, this gem always encodes non-ASCII characters using numeric XML character references (e.g. `

[2021-04-08 02:39] skalee opened #60 "Conformance tests with JavaScript reference implementation"
I am thinking of adding some conformance checks which will ensure that converting given formula with AsciiMath gem gives the same result as converting it with AsciiMath's original JavaScript implementation. Unless there are some differences which have been introduced for purpose, of course…

The idea is to prepare a list of example AsciiMath formulas, the longer the better, then convert every sing

[2021-04-08 09:46] pepijnve commented on #60
I tried this in the past, but it turned out to be very difficult to generate exactly what the JS implementation produces. You really need to reimplement all the quirks of that implementation, some of which don't seem to make much sense. There are also places where we intentionally generate different MathML as well.

Instead of that I've made a manual approximation of that in https://github.com/asc

[2021-04-08 12:28] pepijnve commented on #59
I've added the code to do this already. I'm still trying to figure out how I can let users pass options to `to_mathml` without breaking backwards compatibility. Looks like I've painted myself into a corner there.

[2021-04-08 13:08] skalee commented on #59
Maybe something like:

[code]

or:

[code]

or even:

[code]

Keyword argument would be even better, but I suppose this gem still supports old good Ruby 1.9 for some reason?

[2021-04-08 15:12] #58 closed

[2021-05-13 21:08] SanchithHegde opened #62 "asciidoctor-pdf fails with "stack level too deep" for certain expressions"
First of all, I'm new to the ruby ecosystem so I'm sorry if the fix for this issue is trivial or if I should have reported this issue elsewhere. If that is indeed the case, please let me know which repo I should be filing this issue under and I'll happily do so.

---

## Steps to reproduce

Contents of `test.adoc` file (the actual expressions that caused the issue are slightly more complex, these

[2021-06-12 21:12] pepijnve commented on #62
@SanchithHegde I've already found the cause of the 'stack level too deep' error and fixed that. The input `R(alpha_(K+1)|x)` also revealed a parsing error. Still working on fixing that.

[2021-06-12 21:18] SanchithHegde commented on #62
@pepijnve That's great! Thank you!

[2021-07-02 23:13] am21 commented on #62
Found that simple things like `ceil(-2.5)`, `floor(-oo)` give the same error, where `abs(-2.5)` works.

[2021-07-24 22:24] geverl opened #63 "stack level too deep"
The following line in my asciidoctor document produces the trace below:
stem:[TD_t(s_t, a_t)=R(s_t, a_t)+\gamma \max_aQ(s_{t+1},a)-Q(s_t, a_t)]

asciidoctor-pdf -v -r asciidoctor-mathematical -a mathematical-format=svg WAD.adoc --trace
Traceback (most recent call last):
9775: from /usr/local/bin/asciidoctor-pdf:23:in <main>' 9774: from /usr/local/bin/asciidoctor-pdf:23:in load'
9773: from /var/lib

[2021-07-25 01:46] mojavelinux commented on #63
The problem doesn't occur when converting the AsciiMath to MathML (which happens when you convert to DocBook). So the problem seems to be in the LaTeX exporter.

[2021-07-26 07:54] pepijnve commented on #63
This is a duplicate of #62

[2021-07-26 07:54] #63 closed

[2021-07-26 08:10] pepijnve opened #64 "Expressions containing `|` are not parsed correctly"
Expression like `R(alpha_(K+1)|x)` are not parsed correctly. `|` is treated is a both a left and right paren that can be closed by any other right or left paren. This is not correct, `|` should only close and be closed by a matching `|`.

[2021-07-26 08:11] pepijnve commented on #62
I've logged #64 to track the `|` parsing issue. I'll make a patch release containing the bugfix for the infinite recursion already.

[2021-07-26 13:33] #62 closed

[2021-07-27 11:22] pepijnve opened #65 "Add support for augmented matrices"
Matrices containing a vbar in the same column of each row like `[[a,b,|,c],[d,e,|,f]]` should result in a column line. At the moment this case is not treated specially and results in a vbar operator in each cell instead.

[2022-01-04 00:27] SuperSonicHub1 opened #67 "Support for MathML output for HTML backend?"
After doing some reading, it seems that Asciidoctor does have support for STEM macro to MathML output, but it's only supported if you have the `asciimath` gem and are using the DocBook backend. I see no reason why MathML cannot be generated for use in the HTML backend if we standardize a variable like `stem-output`.

I want MathML/HTML support as people with [browsers that support MathML](https://

[2022-01-04 09:21] pepijnve commented on #67
The HTML backend is provided by the asciidoctor project itself indeed. This gem is only the asciimath parser and MathML generator.

I'm afraid I can't move your issue myself. Best to create a new one in the asciidoctor project and link to it from here.

[2022-01-04 09:21] pepijnve commented on #67
Oh wait, just spotted the 'transfer issue' action in the bottom right corner. Let's give that a try.

[2022-01-05 00:18] SuperSonicHub1 commented on #67
Cool, I'll move it then.

[2022-01-05 00:18] #67 closed

[2022-01-19 15:24] opoudjis opened #69 "Fix behaviour of ubrace, obrace with superscript, subscript"
Issue raised in https://github.com/metanorma/metanorma/issues/235:

In Asciimath, `ubrace` followed by a subscript, and `obrace` followed by a superscript, is meant to render the subscript/superscript text under and over the expression, like with say `lim`. So:

`ubrace(((0.5, 0, 0.5),(0, 0.5, 0.5),(0, 0, 1)))_("Adjustment to texture space")`

should render as

<img width="270" alt="Στιγμιότυπο 20

[2022-01-20 08:25] pepijnve commented on #69
@opoudjis do you happen to know how you would write this in latex? At the moment the same incorrect output is produced there so I would like to update that renderer as well.

[2022-01-31 10:15] opoudjis opened #70 "frac()() does not appear to be implemented"
`root(x)(y)` is implemented, and there is code to handle it: append_root

However, while the symbol `frac` is recognised as a binary symbol, there is no corresponding code to process `:frac:` under https://github.com/asciidoctor/asciimath/blob/d3fd7ac8a1d9d83a799b63631d700f1cf5be8c1c/lib/asciimath/markup.rb#L380

I'm assuming all that needs to be done is:

[code]

[2022-01-31 13:11] opoudjis opened #71 "Matrix requirement on bracketing too strict"
`((a),(b),(c))` is correctly rendered as a matrix. However `((a, b, c))` should also be recognised as a matrix, per http://asciimath.org, and is not: it is being rendered as literal `((a, b, c))` instead.

I'm doing a PR to address this.

[2022-02-02 13:15] #71 closed

[2022-02-02 13:25] #70 closed

[2022-02-23 10:12] opoudjis commented on #69
... Update?

[2022-03-02 20:06] pepijnve commented on #69
I don't have any mental space to work on this project at the moment I'm afraid. This is 100% volunteer work and I'm the only developer at the moment.

[2022-03-06 05:22] opoudjis commented on #69
Well, I did the PR that addressed the MathML component; would you be ok if I added to the PR the LaTeX component?

[2022-03-06 17:19] pepijnve commented on #69
If you have the time, yes that would be much appreciated. I haven't merged the PR yet because I would prefer to maintain feature parity across the backends.

[2022-03-17 11:07] opoudjis commented on #69
Target is:

[code]

[2022-03-17 11:28] opoudjis commented on #69
Latex generated is:

`{\underbrace{\left ( \begin{matrix} 1 & 0 \\ 0 & 1 \end{matrix} \right )}}_{\text{Adjustment to texture space}}`

It needs to generate:

`\underbrace{\left ( \begin{matrix} 1 & 0 \\ 0 & 1 \end{matrix} \right )}_{\text{Adjustment to texture space}}`

[2022-03-17 11:51] opoudjis commented on #69
@pepijnve I've added the needed LaTeX update. I've ended up hardcoding underbrace and overbrace processing, because you have a less rich symbol table by default for LaTeX processing than for MathML processing.

[2022-04-13 13:20] opoudjis commented on #69
... Update? The PR should be good to go.

[2022-04-21 20:28] pepijnve commented on #69
I finally got round to integrating your fix. Sorry for the delay.

[2022-04-21 20:28] #69 closed

[2022-04-21 20:31] pepijnve commented on #64
Seems like this was already fixed.

[2022-04-21 20:31] #64 closed

[2022-04-22 10:53] opoudjis commented on #69
No problem, thank you!